<script id='user-field-template'
        type='text/x-jquery-tmpl'>
    <div class="user">        
        @Html.ActionLink("Log Out", "LogOut", "Account")
        <a>${UserName}</a>
    </div>
</script>